<div class="w-full flex flex-col justify-center items-center">
  <%= link_to "REFRESH", request.fullpath, class: "mt-4 refresh" %>
  <%= raw(@embedded_tweet.html) %>
  <p class="text-sm mb-4">Liked by <a href="https://twitter.com/<%=@follow.handle%>" target="_blank"><%= @follow.name %></a></p>
</div>
