/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f5f5f5;
}

a:link,
a:visited {
  color: rgba(29, 161, 242, 1);
}

button.login {
  background-color: rgba(29, 161, 242, 1);
  color: white;
  font-size: 1.25rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  cursor: pointer;
  transition: 0.05s linear;
}

button.login > span.login-text {
  margin-left: 20px;
  padding-bottom: 3px;
  font-weight: 600;
}

div > a.refresh {
  background-color: rgba(29, 161, 242, 1);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 22rem;
  transition: 0.05s linear;
}

button.login:hover,
div > a.refresh:hover {
  background-color: rgba(29, 161, 242, 0.95);
}

button.login:active {
  transform: scale(0.995);
}

div > a.refresh:active {
  transform: scale(0.99);
}

button.login:focus,
div > a.refresh:focus {
  outline: none;
}
